*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}


.bottom--cake{
    position: relative;
    overflow: hidden;
    width: 800px;
    height:150px;
    background-color: bisque;
    border-radius:20px;
    margin-bottom: 100px;
}

.img-wavy{
    width: 100%;
    height: 100px;
}

.img-wavy img{
    width: 100%;
    height: 100%;
}

.img-heart-1{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: -15px;
    width:50px;
    height:50px;
}


.img-heart-1 img{
    width: 100%;
    height: 100%;
}

.img-heart-2{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 87px;
    width:50px;
    height:50px;
}


.img-heart-2 img{
    width: 100%;
    height: 100%;
}


.img-heart-3{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 202px;
    width:50px;
    height:50px;
}


.img-heart-3 img{
    width: 100%;
    height: 100%;
}

.img-heart-4{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 315px;
    width:50px;
    height:50px;
}


.img-heart-4 img{
    width: 100%;
    height: 100%;
}

.img-heart-5{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 431px;
    width:50px;
    height:50px;
}


.img-heart-5 img{
    width: 100%;
    height: 100%;
}

.img-heart-6{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 546px;
    width:50px;
    height:50px;
}


.img-heart-6 img{
    width: 100%;
    height: 100%;
}

.img-heart-7{
    z-index: 3;
    position: absolute;
    top: -4px;
    left: 661px;
    width:50px;
    height:50px;
}


.img-heart-7 img{
    width: 100%;
    height: 100%;
}

.img-heart-8{
    z-index: 3;
    position: absolute;
    top: -4px;
    right: -15px;
    width:50px;
    height:50px;
}


.img-heart-8 img{
    width: 100%;
    height: 100%;
}



.border-cake{
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: brown;
}